
<div style="width:100%">
<%= image_tag("clothesloversunite.png", class: "logo", alt: "Logo") %>
</div>


<div class='hometext'>
A space for clothes lovers to buy and sell pre loved clothing from the comfort of their home.
<br>
Sell you loved pieces to someone who will love them as much as you. 
<br>
Buy another clothes lovers treasures pieces.
<br>
The best part....all items are $10 and under.
</div>




