/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
 @import url('https://fonts.googleapis.com/css?family=Quicksand');

* {   
   font-family: 'Quicksand', sans-serif;
   font-size: 18px;
   text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}

p {
    font-size: 16px;
}

.deviseform {
    text-align: center;
}

.contactform {
    text-align: center;
}
 
.logo {
    display: block;
    margin: auto;
}

.hometext {
    text-align: center;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    line-height: 1.5em;
}
.navbar {
    position: fixed;
    top: 0;
    border-left: none;
    float: center;
    margin-left: 0;
}

.navbar:link {
    color: black;
}

.navbar button {
    font-size: 20px; 
    background-color: #01B4BC;
    border: 1px solid #C4C4C4;
    color: black;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left;
}

.navbar button:not(:last-child) {
    border-right: none;
}

.navbar:after {
    content: "";
    clear: both;
    display: table;
}

.navbar button:hover {
    background-color:#FFF952;
    color: black;
}



